[ConfigFile=RulesCH]
[StartConfig]
autoLoad=1;
autoSave=0;
[Aimbot]
aimEnable=0;
aimbotKey=0;
aimbotShowFOV=1;
aimbotFOV=25;
aimbotDistance=125;
[ESP]
espEnable=1;
espDistance=1;
espLines=1;
espHealth=1;
espItens=1;
espDistanceItens=1;
espLineItens=0;
espBotEnable=1;
espVeiculoEnable=1;
espVeiculoDistance=1;
espAviaoEnable=0;
espDistanceAviao=0;
espCaixaSurpresaEnable=1;
espDistanceCaixa=1;
espLineCaixa=1;
[EndConfig]
